<style>
  @font-face {
    font-family: digital;
    src: url('{{ UiContext.cdn_prefix }}/digital-7_mono.ttf') format("truetype");
  }
  .event-list__item::after {
    content: "";
    display: block;
    clear: both;
  }
  .event-list__item__left {
    display: inline;
  }
  .event-list__item__right {
    float: right;
    white-space: nowrap;
    margin-left: 1em;
  }
  .event-list__item__number {
    font-size: 1.8rem;
    font-family: digital;
  }
</style>
<div class="section side">
  <div class="section__header">
    <h1 class="section__title">{{ _("CountdownEvent_Title") }}</h1>
  </div>
  <div class="section__body">
    <ul class="group-list">
      {% if payload.today.length > 0 %}
      <li class="group-list__item">
        <h2 class="section__title">{{ _("CountdownEvent_SectionToday") }}</h2>
        <ol class="event-list typo">
          {%- for event in payload.today -%}
          <li class="event-list__item">{{ event.name }}</li>
          {%- endfor -%}
        </ol>
      </li>
      {% endif %}
      {% if payload.upcoming.length > 0 %}
      <li class="group-list__item">
        <h2 class="section__title">{{ _("CountdownEvent_SectionUpcoming") }}</h2>
        <ol class="event-list typo">
          {%- for event in payload.upcoming -%}
          <li class="event-list__item">
            {{ _("CountdownEvent_UpcomingEvent").format(event.name, event.diff)|safe }}
          </li>
          {%- endfor -%}
        </ol>
      </li>
      {% endif %}
      {% if payload.past.length > 0 %}
      <li class="group-list__item">
        <h2 class="section__title">{{ _("CountdownEvent_SectionPast") }}</h2>
        <ol class="event-list typo">
          {%- for event in payload.past -%}
          <li class="event-list__item">
            {{ _("CountdownEvent_PastEvent").format(event.name, -event.diff)|safe }}
          </li>
          {%- endfor -%}
        </ol>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
